@tailwind base;
@tailwind components;
@tailwind utilities;

/* 引入 - https://www.tailwindcss.cn/docs/using-with-preprocessors#build-time-imports */
/*
  用于定义基础样式（Base Styles）。基础样式通常包括重置默认样式、设置全局的基础样式等内容
 */
@layer base {
	/*  Tailwind CSS 中预定义的类中赋值给body */
	* {
		&:focus-visible {
			outline: none;
		}
	}
	body {
		background-color: #0f172a;
		color: #f1f5f9;
	}
}

/*
  @layer utilities 是 Tailwind CSS 中的一个功能，用于定义实用类（Utility Classes）。
  实用类是一种通用的、重复使用频率高的样式类，通常用于快速添加特定样式而无需编写自定义 CSS*
*/
@layer utilities {
	/* 渐入渐出过渡 */
	.fade-enter {
		@apply opacity-100;
	}

	.fade-enter-active {
		@apply opacity-0;
		transition: opacity 500ms ease-in-out;
	}

	.fade-exit {
		@apply opacity-0;
	}

	.fade-exit-active {
		@apply opacity-100;
		transition: opacity 500ms ease-in-out;
	}

	.head-shadow {
		box-shadow: 0px 4px 12px 0px #ababab;
	}

	.layout {
		@apply px-5 lg:px-[96px] 3xl:px-[184px];
	}
}

/* 滚动条的宽度 */
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-track-piece {
	background-color: #f8f8f8;
}

/* 滚动条的设置 */
::-webkit-scrollbar-thumb {
	background-color: rgba(144, 147, 153, 0.3);
	background-clip: padding-box;
	min-height: 28px;
	border-radius: 50px;
	transition: 0.3s background-color;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(144, 147, 153, 0.5);
}

@media screen and (min-width: 768px) {
	/* 滚动条的宽度 */
	::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	::-webkit-scrollbar-track-piece {
		background-color: #f8f8f8;
	}

	/* 滚动条的设置 */
	::-webkit-scrollbar-thumb {
		background-color: rgba(144, 147, 153, 0.3);
		background-clip: padding-box;
		min-height: 28px;
		border-radius: 50px;
		transition: 0.3s background-color;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(144, 147, 153, 0.5);
	}
}
